/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 10vw;
}

h1, input, button {
  margin: 10px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/