/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

div#cConverter {
  float: left;
  width: 50%;
}

div#fConverter {
  float: right;
  width: 50;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
