h1 {
    color: blue;
    text-decoration: underline;
    background: gold;
}

/* <h2>Make this text purple, bolded, 25px, and hav an orange border </h2> */

h2 {
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid orange;
}

/* <section>
		<p>Make this section width of 50%, height of 200px, background of gray, border of black, and the paragraph text white</p>
	</section> */

section {
    width: 50%;
    height: 200px;
    background-color: gray;
    border: black solid 12px;
}

p {
    color: white;
}

footer {
    background-color: black;
    border: solid 10px lightgreen;
    color: white; 
}

h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}